.container{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
body{
	color: whitesmoke;
}
.box{
	padding: 20px;
	margin: 60px auto;
	background: teal;
	border-radius: 5px;
	position: relative;
	width: 90%;
	margin: 0, 20px;
}

.box::after{
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	width: 60px;
	height: 60px;
	background: teal;
	transform: rotate(45deg);
	z-index: -4;
}

.box h2{
	color: whitesmoke;
}

.address{
	color: whitesmoke;
	background: cyan;
}

.img::after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
}

.address::after{
	content: "";
	background: cyan;

}

.address p a{
	text-decoration: none;
	color: blue;
}

.title{
	background: orange;
}

.title h1{
	text-transform: uppercase;
	text-align: center;
}

.title::after{
	content: "";
	background: orange;
}

.skill ul li{
	margin: 10px auto;
}

.img{
	width: 150px;
	padding: 0;
	position: absolute;
	top: 65px;
	right: 60px;
}

.img img{
	width: 100%;
}

.objective p{
	line-height: 1.5em;
}

.training::after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
}
